#wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px;
    padding-bottom: 32px;
}
header {
    font-size: 30px;
    width:100%;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: left;
    padding-top: 1px;
    box-sizing: border-box;
}

.logo-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 700;
    padding-left: 10px;
    color: #3E3F43;
    letter-spacing: 25%;
    font-size:24px;
}

.buttons{
    width:100%;
    display:flex;
    color: #612999;
    font-weight: 400;
    align-items: center;
    justify-content: space-evenly;
}


.buttons div:hover{
    cursor: pointer;
    color:purple;
}

.home{
    font-weight: 700;
}

body{
    background-color:white;
    font-family:'Nunito',sans-serif;
    overflow-x: hidden;
}
main{
    display:flex;
    flex-direction: column;
}
.main-img{
    width: 100vw;
    height: 797px;
    margin-left: calc(50% - 50vw);
    background-image: url(../Assets/background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.main-img-texts{
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.main-img-title{
    height: 131px;
    width: 448px;
    display:flex;
    align-items: center;
}

.main-img-title > h1{
    line-height: 100%;
    color: #612999;
    font-size: 96px;
    font-weight: 800;
}

.main-img-desc{
    height: 99px;
    width: 448px;
    display:flex;
    align-items: center;
}

.main-img-desc > p{
    line-height: 100%;
    font-size: 24px;
    font-weight: 600;
}


.about-box{
    font-family: "Rubik",sans-serif;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.about_header{
    font-weight: 500;
    font-size: 40px;
    color:#612999;
}

.about_text{
    font-size: 20px;
    font-weight: 400;
    color:black;
    line-height: 141%;
}

.box3{
    font-family: "Rubik",sans-serif;
    width:100%;
    min-height:1000px;
    box-sizing: border-box;
}

.populars_header{
    background-color: yellow;
    font-family: "Rubik",sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 40px;
    color:#612999;
}

.cards_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
}

.card_title{
    padding-top:20px;
    font-weight: bold;
    color:blue;
    font-size: 25px;
}

.price{
    margin-top: 15px;
    font-size: 25px;
    color:darkgreen
}

.card_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:15px;
    width:170px;
    /* background-color: yellowgreen; */
}

.card_buttons img:hover{
    cursor: pointer;
    transform: scale(1.2);
}


.card{
    padding-top:100px;
    height: 600px;
    width:400px;
    background-image: url('../Assets/card.png');
    background-size:contain;
    display:flex;
    flex-direction:column;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    box-sizing: border-box;
}

.card_line{
    background-color: black;
    margin-top: 20px;
    height: 3px;
    width:300px;
}


footer{
    height:287px;
    font-size: 16px;
    background-color:#EFECFF;
    color: #333333;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer_box_title{
    font-weight: 700;
    font-size: 18px;
}

.footer_boxes{
    display:flex;
    height:85%;
    width:500px;
    /* background-color:pink; */

}

.footer_box{
    height:270px;
    width:300px;
    /* background-color:yellow; */
    display:flex;
    flex-direction: column;
    padding-left: 30px;
    column-gap: 100px;
    align-items:left;

}

.footer_clickables{
    height:110px;
    width:300px;
    align-items: left;
    display:flex;
    flex-direction: column;
    /* background-color:green; */
}

.footer_clickables div:hover{
    cursor:pointer;
    color: blueviolet;
}

.footer_clickables div{
    margin-top: 10px;
}

.social_logos{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.social_logos img:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.copyright{
    margin-bottom: 300px;
    padding-left:10px;
    font-weight: 600;
}

