#wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    font-size: 30px;
    
    height: 150px;
    display:flex;
    align-items: center;
    background-color: aquamarine;
    padding-top: 1px;
    padding-left: 50px;
}

.title{
    font-weight: bold;
    padding-left: 10px;
    color: blueviolet;
}

.buttons{
    padding-left: 400px;
    display:flex;
    color: blue;
    font-weight: 400;
    gap:30px;
}


.buttons div:hover{
    cursor: pointer;
    color:purple;
}

.home{
    font-weight: bolder;
    text-decoration: underline;
}

body{
    background-color:beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    height:100px;
    display:flex;
}

.welcome{
    font-size: 50px;
    margin: auto;
}

footer{
    height:300px;
    font-size: 20px;
    background-color:aqua;
    color: black;
    margin-top: 450px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_box_title{
    font-weight: bold;
    font-size: 30px;
}

.footer_boxes{
    display:flex;
    height:100%;
    width:500px;
    /* background-color:pink; */

}

.footer_box{
    height:270px;
    width:300px;
    /* background-color:yellow; */
    display:flex;
    flex-direction: column;
    column-gap: 100px;
    align-items:center;

}

.footer_clickables{
    height:110px;
    width:300px;
    align-items: center;
    display:flex;
    flex-direction: column;
    /* background-color:green; */
}

.footer_clickables div:hover{
    cursor:pointer;
    color: blueviolet;
}

.footer_clickables div{
    margin-top: 10px;
}

.social_logos{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.social_logos img:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.copyright{
    padding-bottom: 10px;
    padding-left:10px;
}

