#wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 32px;
}

header {
    font-size: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 1px;
    box-sizing: border-box;
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 700;
    padding-left: 10px;
    color: #3E3F43;
    letter-spacing: 25%;
    font-size: 24px;
}

.header-buttons{
    width: 100%;
    display: flex;
    color: #612999;
    font-weight: 400;
    align-items: center;
    justify-content: space-evenly;
}


.header-buttons div:hover{
    cursor: pointer;
    color: purple;
}

.home{
    font-weight: 700;
}

body{
    background-color: white;
    font-family: 'Nunito',sans-serif;
    overflow-x: hidden;
    margin: 0
}

main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-img{
    width: 100vw;
    height: 797px;
    margin-left: calc(50% - 50vw);
    background-image: url(../Assets/background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.main-img-texts{
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.main-img-title{
    height: 131px;
    width: 448px;
    display: flex;
    align-items: center;
}

.main-img-title > h1{
    line-height: 100%;
    color: #612999;
    font-size: 96px;
    font-weight: 800;
}

.main-img-desc{
    height: 99px;
    width: 448px;
    display: flex;
    align-items: center;
}

.main-img-desc > p{
    line-height: 100%;
    font-size: 24px;
    font-weight: 600;
}

.about-box{
    font-family: "Rubik",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-header{
    font-weight: 500;
    font-size: 40px;
    color: #612999;
}

.about-text{
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 141%;
}

.populars-header{
    font-family: "Rubik",sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #612999;
    line-height: 40px;
}

.cards-container{
    font-family: Abel;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 32px;
}

.card{
    background-color: #EFECFF;
    height: 496px;
    width: 376px;
    border-radius: 38px;
    box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
}

.card-top{
    position: relative;
}

.game-img{
    width: 100%;
    height: 276px;
    object-fit: cover;
    object-position: top;
    border-radius: 38px;
    display: block;
}

.card-heart-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  border: none;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-heart-btn img {
  width: 23px;
  height: 20px;
  object-fit: contain;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  padding: 0px 32px;
}

.card-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  margin-bottom: 7px;
}

.card-description {
  font-size: 18px;
  color: #333333;
  line-height: 100%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.card-price {
  font-size: 35px;
  font-weight: 400;
  line-height: 100%;
  color: #612999;
}

.card-cart-btn {
  background-color: #612999;
  border: none;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.card-cart-btn:hover {
  background-color: #4527a0;
}

.card-cart-btn img {
  width: 31px;
  height: 31px;
  object-fit: contain;
}

footer{
    margin-top: 246px;
    height: 287px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    background-color:#EFECFF;
    color: #333333;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-boxes{
    display: flex;
    width: 500px;
}

.footer-box{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-clickables{
    width: 300px;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.footer-clickables a:hover{
    cursor: pointer;
    color: blueviolet;
}

.footer-clickables a{
    margin-top: 10px;
    text-decoration: none;
    color: #333333;
}

.social-logos{
    padding-top: 24px;
    display: flex;
    gap: 24px;
}

.social-logos a:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.social-logos a img{
    width: 20px;
}

.copyright{
    font-weight: 600;
}

